<article class="article-form">
  <h1>New Reviews</h1>

  <%= form_for @review do |f| %>
    <ul>
      <% @review.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :text %><br />
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </p>

    <h2>Select categories</h2>
    <div class="categories">
      <% @categories.each do |category| %>
        <%= check_box_tag 'ids_list[]', category.id, false, class: "check-input", id: "check-#{category.id}" %>
        <%= label_tag category.name, category.name, class: "check-label" %>
      <% end %>
    </div>
    <br>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <%= link_to "Cancel", reviews_path %>
</article>
